<div class="col-md-11 col-sm-12" ng-controller="PurchaseBagsPaymentController">

<h3 class="text-warning">Inward Bags Payment Page</h3>

<div class="col-md-12 col-sm-12 col-xs-12">
<strong class="text-info loadSpinner"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg"></i></strong>
<span class="messageDisp"></span>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-5">
			<strong class="text-primary">Payment Details are as below:</strong>
			<br/><br/>
			<table class="table table-striped">
				<tr>
					<td>Purchase Date</td>
					<td><strong>{{inwardPayBags.purchaseDt}}</strong></td>
				</tr>
				<tr>
					<td>Product Name</td>
					<td><strong>{{inwardPayBags.product}}</strong></td>
				</tr>
				<tr>
					<td>Supplier Details</td>
					<td><strong>{{inwardPayBags.supplier_nm}}</strong></td>
				</tr>
				<tr>
					<td>Lorry Details</td>
					<td><strong>{{inwardPayBags.lorryno}}</strong></td>
				</tr>
				<tr>
					<td>Bill Number</td>
					<td><strong>{{inwardPayBags.billno}}</strong></td>
				</tr>
				<tr>
					<td>Total Bags</td>
					<td><strong>{{inwardPayBags.totalbags}}</strong></td>
				</tr>
				<tr>
					<td>Final Amount</td>
					<td><strong>{{inwardPayBags.netamt}}</strong></td>
				</tr>
			</table>
		</div>
		<div class="col-md-5">			
			<br/><br/>
			Payment Details<br/>
			<input type="text" class="form-control" placeholder="Payment Amount" ng-model="payAmt" /> 
				<span>Balance To Pay:<span class="text-danger">{{remPay}}</span></span><br/><br/>
			<textarea class="form-control" placeholder="Particulars" ng-model="particulars"></textarea>
			<br/>
			<button class="btn btn-info" ng-click="makePayment()">Make Payment</button>
		</div>
	</div>
</div>


<script type="text/javascript">
$(function() {  
    $('#balPay').datetimepicker({
		format: 'D/M/YYYY',
		minDate:new Date()
	});
});
  //DTP from: http://eonasdan.github.io/bootstrap-datetimepicker/
</script>