<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="NewOrderController">
	<h3 class="text-primary">NEW ORDER</h3>
	<hr/>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form ng-submit="placeOrder();">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<label class="text-info">Order Number: </label>
					</div>
					<div class="col-md-8 col-sm-6 col-xs-12">
						<input type="text" class="form-control" ng-model="orderNo" placeholder="Order Number" ng-disabled="loadOrder" required/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<label class="text-info">Date of Order: </label>
					</div>
					<div class="col-md-8 col-sm-6 col-xs-12">
						<div class="input-group date">
							<input type="text" id="orderDate" class="form-control" placeholder="Order Date" ng-disabled="loadOrder" required />
							<span class="input-group-addon">
								<span class="fa fa-calendar"></span>
							</span>
						</div>
					</div>
				</div>
					<br/><br/><br/>
			</div>
			
			<div class="row">				
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-2 col-sm-6 col-xs-12">
						<label class="text-info">Client: </label>
					</div>
					<div class="col-md-10 col-sm-6 col-xs-12">
						<div class="input-group date">
							<input type="hidden" class="form-control" ng-model="clientid"/>
							<input type="text" class="form-control" ng-model="clientnm" placeholder="Client" ng-disabled="loadOrder" readonly required />
							<span class="input-group-addon" ng-click="searchClientDetails()" data-toggle="modal" data-target="#setClientmodal">
								<span class="fa fa-search-plus" ></span>
							</span>
						</div>
					</div>
				</div>
				
				<br/><br/><br/>
			</div>
			
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<label class="text-info">Destination: </label>
					</div>
					<div class="col-md-8 col-sm-6 col-xs-12">
						<input type="text" class="form-control" ng-model="destination" placeholder="Destination" ng-disabled="loadOrder" readonly required/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<label class="text-info">Quantity: </label>
					</div>
					<div class="col-md-8 col-sm-6 col-xs-12">
						<input type="text" class="form-control" ng-model="quantity" placeholder="Quantity" ng-disabled="loadOrder" required/>
					</div>
				</div>
				<br/><br/><br/>
			</div>
			
			<div class="col-md-12 col-sm-12 col-xs-12">
				<br/><div class="waitspinner"><label class="text-info">Please Wait...</label><i class="fa fa-spinner fa-pulse fa-lg text-info"></i></div>
				<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-inr"></i> NEW ORDER</button>				
			<br/><br/><br/>
			</div>
		</form>
	</div>

<!-- Set Client Details Modal -->
<div class="modal fade" id="setClientmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SET CLIENT</h4>
      </div>
      <div class="modal-body">
		<div class="row col-md-6 col-sm-6 sol-xs-6">
			<div class="input-group date">
				<input type="text" class="form-control" placeholder="Search..." ng-model="searchClient">
				<span class="input-group-addon">
					<span class="fa fa-search"></span>
				</span>
			</div>
		</div>
		<br/><br/>
		<table class="table table-bordered">
			<thead>
			  <tr>
				<th>Name</th>
				<th>City</th>
				<th>Set</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="data in clients | filter:searchClient" class="fullData">		
				<td>{{data.client_nm}}</td>
				<td>{{data.client_city}}</td>
				<td>			
					<button type="button" class="btn btn-sm btn-primary" ng-click="setclientDetails(data.client_id, data.client_nm, data.client_city);">
						<i class="fa fa-outdent"></i> SET</button>
				</td>
			  </tr>
			  <tr class="noData">
				<td colspan="8"> No Data Found </td>
			  </tr>
			  <tr class="loadData">
				<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
			  </tr>
			</tbody>
		</table>
	  </div>
    </div>
	</form>
  </div>
</div>

<!-- Set Lorry Details Modal -->
<div class="modal fade" id="setLorrymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SET Lorry</h4>
      </div>
      <div class="modal-body">
	  <div class="row col-md-6 col-sm-6 sol-xs-6">
			<div class="input-group date">
				<input type="text" class="form-control" placeholder="Search..." ng-model="searchLorry">
				<span class="input-group-addon">
					<span class="fa fa-search"></span>
				</span>
			</div>
		</div>
		<br/><br/>
		<table class="table table-bordered">
			<thead>
			  <tr>
				<th>Sr. No.</th>
				<th>Lorry Number</th>
				<th>Set</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="data in lorryData | filter:searchLorry" class="fullData">		
				<td>{{$index+1}}</td>
				<td>{{data.lorry_no}}</td>
				<td>			
					<button type="button" class="btn btn-sm btn-primary" ng-click="setLorryDetails(data.lorry_id, data.lorry_no);">
						<i class="fa fa-outdent"></i> SET</button>
				</td>
			  </tr>
			  <tr class="noData">
				<td colspan="8"> No Data Found </td>
			  </tr>
			  <tr class="loadData">
				<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
			  </tr>
			</tbody>
		</table>
	  </div>
    </div>	
  </div>
</div>


<!-- Add New Lorry Modal -->
<div class="modal fade" id="addLorrymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <form ng-submit="addlorry();">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Lorry</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<span class="displayMsg"></span>
		
			<div class="col-md-2 col-sm-2 col-xs-4">
				<input type="text" class="form-control" ng-model="lorrystate" placeholder="MH" maxlength='2' autofocus required />
			</div>
			<div class="col-md-3 col-sm-2 col-xs-4">
				<input type="number" class="form-control" ng-model="lorrystatecode" id="lorrystatecode" placeholder="12" max="99" min="1" required />
			</div>
			<div class="col-md-2 col-sm-2 col-xs-4">
				<input type="text" class="form-control" ng-model="lorrycode" placeholder="AA" maxlength='2' required />
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<input type="number" class="form-control" ng-model="popuplorryno" placeholder="0123" id="popuplorryno" max="9999" min="1" required />
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Note: e.g  <span class="text-info">MH - 12 - AA - 0123</span></h4>			
				<div class="waitspinner"><label class="text-info">Please Wait...</label><i class="fa fa-spinner fa-pulse fa-lg text-info"></i></div>
				<button type="submit" class="btn btn-success">Save Details</button>
			</div>
		</div>
		
	  
	  </div>    
  </div>
  </form>
</div>
</div>
</div>
<script type="text/javascript">
$(function() {
    $('#orderDate').datetimepicker({
		format: 'D/M/YYYY',
		defaultDate: new Date(),
		maxDate:new Date()
	});
	
    $('#dispatchDate,#billDate').datetimepicker({
		format: 'D/M/YYYY',		
		minDate:new Date()
	});
});
  //DTP from: http://eonasdan.github.io/bootstrap-datetimepicker/
</script>