<div class="col-md-12 col-sm-12 col-xs-12" ng-controller="OpeningStockController">

<h3 class="text-warning">Add Opening Stock</h3>
<strong class="text-danger" ng-show="prodpresent"> Note: Stock is aleady present. <br/><br/></strong>
<strong class="text-info loadSpinner"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg"></i><br/><br/></strong>
<div class="row col-md-12 col-sm-12 col-xs-12">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">Stock Date: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="input-group date">
				<input type="text" id="stockDate" class="form-control" placeholder="Date" ng-disabled="prodpresent"/>	
				<span class="input-group-addon">
					<span class="fa fa-lg fa-search-plus"></span>
				</span>	
			</div><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">Raw Organic Manure: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_rom" class="form-control" placeholder="Raw Organic Manure" ng-disabled="prodpresent"/>	<br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">Slaughter House Waste: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_shw" class="form-control" placeholder="Slaughter House Waste" ng-disabled="prodpresent"/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">Filler Powder: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_fp" class="form-control" placeholder="Filler Powder" ng-disabled="prodpresent"/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">Animal Waste Filler: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_awf" class="form-control" placeholder="Animal Waste Filler" ng-disabled="prodpresent"/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">HDPE Bags: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_bags" class="form-control" placeholder="HDPE Bags" ng-disabled="prodpresent"/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<label class="text-info">ECHO Meal: </label>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
				<input type="text" ng-model="prod_echomeal" class="form-control" placeholder="Echo Meal" ng-disabled="prodpresent"/><br/>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12">
			<button class="btn btn-sm btn-primary" ng-click="openStock()" ng-disabled="prodpresent"><i class="fa fa-area-chart"></i> Open Stock</button>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
$(function() {
    $('#stockDate').datetimepicker({
		format: 'DD/MM/YYYY',
		maxDate: new Date()
	});
});
  //DTP from: http://eonasdan.github.io/bootstrap-datetimepicker/
</script>