<div class="col-md-12 col-sm-12" ng-controller="ReportsPurchaseController">

<h3 class="text-primary">PURCHASE BAGS REPORTS <span style="float:right" class="refreshIcon"><i class="fa fa-refresh text-info" title="Refresh Data" ng-click="reload();"></i></span></h3>
<hr/>
<strong class="text-info loadSpinner"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg"></i><br/><br/></strong>
<div class="col-md-12 col-sm-12 col-xs-12 buttonsWrapper">
<h4><strong class="text-danger">REPORTS BY DATE</strong></h4>
	<div class="row">
		<div class="col-md-12">
		<strong class="text-info">Reports by date</strong>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="input-group date">
				<input type="text" id="purchaseDate" class="form-control" placeholder="Date"/>	
				<span class="input-group-addon">
					<span class="fa fa-lg fa-search-plus"></span>
				</span>	
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<button type="button" class="btn btn-primary" ng-click="monthlyBagsReports();">
				<i class="fa fa-line-chart"></i> Monthly Reports
			</button><br/><br/>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<button type="button" class="btn btn-primary" ng-click="yearlyBagsReports();"><i class="fa fa-pie-chart"></i> Annual Reports</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<strong class="text-info">Reports between dates</strong>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="input-group date">
				<input type="text" id="fromDate" class="form-control" placeholder="From Date"/>	
				<span class="input-group-addon">
					<span class="fa fa-lg fa-search-plus"></span>
				</span>	
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div class="input-group date">
				<input type="text" id="toDate" class="form-control" placeholder="To Date"/>	
				<span class="input-group-addon">
					<span class="fa fa-lg fa-search-plus"></span>
				</span>	
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<button type="button" class="btn btn-primary" ng-click="fromtoBagMonthlyReports();">
				<i class="fa fa-line-chart"></i> Monthly Reports
			</button>
		</div>
	</div>
<hr/>
<h4><strong class="text-danger">REPORTS BY SUPPLIER</strong></h4>
	<div class="row">
		<div class="col-md-12">
		<strong class="text-info">Search Supplier</strong>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="input-group date">
				<input type="hidden" ng-model="supplierid" class="form-control"/>	
				<input type="text" ng-model="suppliernm" class="form-control" placeholder="Search Supplier" readonly />
				<span class="input-group-addon" ng-click="searchBagSupplier();">
					<span class="fa fa-user-plus"></span>
				</span>	
			</div><br/>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12">
			<button type="button" class="btn btn-primary" ng-click="supplierBagsReports();" ng-disabled="!suppliernm"><i class="fa fa-user"></i> Supplier Reports</button>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-12">
				<strong class="text-info">Search Supplier with Reports between dates</strong>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="input-group date">
					<input type="text" id="fromSupplierDate" class="form-control" placeholder="From Date"/>	
					<span class="input-group-addon">
						<span class="fa fa-lg fa-search-plus"></span>
					</span>	
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="input-group date">
					<input type="text" id="toSupplierDate" class="form-control" placeholder="To Date"/>	
					<span class="input-group-addon">
						<span class="fa fa-lg fa-search-plus"></span>
					</span>	
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<button type="button" class="btn btn-primary" ng-click="fromToMonthlyPurchasesBagsSuppliers();">
					<i class="fa fa-line-chart"></i> Monthly Reports
				</button>
			</div>
		</div>
	
<hr/>
<br/><br/><br/>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 contentWrapper">
	<button class="btn btn-warning btn-xs" ng-click="reload();">Back</button><br/><br/>
	<div class="input-group date">
		<input type="text" ng-model="searchData" class="form-control" placeholder="Search Data"/>
		<span class="input-group-addon">
			<span class="fa fa-lg fa-search-plus"></span>
		</span>	
	</div>
	<br/>
	<table class="table table-responsive table-striped">
		<tr>
			<th>Purchase Date</th>
			<th>Supplier Name</th>
			<th>Supplier Contact</th>
			<th>Product</th>
			<th>Bill No.</th>
			<th>Weight</th>
			<th>Rate</th>
			<th>Lorry Freight</th>
			<th>Final Amount</th>
			<th>VAT No.</th>
		</tr>
		<tr ng-repeat="data in tableData | filter:searchData">
			<td>{{data.purchase_date | date: 'dd-MM-yyyy'}}</td>
			<td>{{data.supplier_name}}</td>
			<td>{{data.supplier_contact}}</td>
			<td>{{data.prod_name}}</td>
			<td>{{data.billno}}</td>
			<td>{{data.weight}}</td>
			<td>{{data.rate}}</td>
			<td>{{data.lorryfreight}}</td>
			<td>{{data.finalAmt}}</td>
			<td>{{data.vat_no}}</td>
		</tr>
	</table>
</div>


<!-- Small modal -->
<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">	
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Search Supplier</h4>
      </div>
      <div class="modal-body">
		<input type="text" ng-model="searchSupplierNm" class="form-control" placeholder="Search Supplier"/><br/>
        <table class="table table-bordered">
			<thead>
			  <tr>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>Contact Person</th>
				<th>Contact No.</th>
				<th>Product Name</th>
				<th>VAT No.</th>
				<th>Set</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="data in supplierData | filter:searchSupplierNm" class="fullData">		
				<td>{{data.supplier_nm}}</td>
				<td>{{data.supplier_address}}</td>
				<td>{{data.supplier_city}}</td>
				<td>{{data.supplier_contact_person}}</td>
				<td>{{data.supplier_contact}}</td>
				<td>{{data.prod_name}}</td>
				<td>{{data.supplier_vatno}}</td>		
				<td>
					<button type="button" class="btn btn-sm btn-info" ng-click="setSupplierDetails(data.supplier_id, data.supplier_nm);">SET</button>
				</td>
			  </tr>
			  <tr class="noData">
				<td colspan="8"> No Data Found </td>
			  </tr>
			  <tr class="loadData">
				<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
			  </tr>
			</tbody>
		</table>
      </div>
    </div>
	</form>
  </div>
</div>


<!-- Small modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">	
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Search Product</h4>
      </div>
      <div class="modal-body">
		<input type="text" ng-model="searchProductNm" class="form-control" placeholder="Search Product"/><br/>
        <table class="table table-bordered">
			<thead>
			  <tr>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>Contact Person</th>
				<th>Contact No.</th>
				<th>Product Name</th>
				<th>VAT No.</th>
				<th>Set</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="data in productData | filter:searchProductNm" class="fullData">
				<td>{{data.supplier_nm}}</td>
				<td>{{data.supplier_address}}</td>
				<td>{{data.supplier_city}}</td>
				<td>{{data.supplier_contact_person}}</td>
				<td>{{data.supplier_contact}}</td>
				<td>{{data.prod_name}}</td>
				<td>{{data.supplier_vatno}}</td>		
				<td>
					<button type="button" class="btn btn-sm btn-info" ng-click="setProductsDetails(data.prod_id, data.prod_name);">SET</button>
				</td>
			  </tr>
			  <tr class="noData">
				<td colspan="8"> No Data Found </td>
			  </tr>
			  <tr class="loadData">
				<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
			  </tr>
			</tbody>
		</table>
      </div>
    </div>
	</form>
  </div>
</div>

</div>
<script type="text/javascript">
$(function() {
	var dt = new Date();
	dt.setMonth(parseInt(dt.getMonth())-1);
    $('#purchaseDate, #fromDateSupplier, #fromDateProduct').datetimepicker({
		format: 'M/YYYY',
		maxDate: new Date()
	});
	
    $('#fromDate, #fromSupplierDate, #fromProductDate').datetimepicker({
		format: 'M/YYYY',
		maxDate: dt
	});
	
    $('#toDate, #toSupplierDate, #toProductDate').datetimepicker({
		format: 'M/YYYY',
		maxDate: new Date() 
	});
	
	$("#fromDate").on("dp.change", function (e) {
		$('#toDate').data("DateTimePicker").minDate(e.date);
	});
	$("#toDate").on("dp.change", function (e) {
		$('#fromDate').data("DateTimePicker").maxDate(e.date);
	});
	
	$("#fromSupplierDate").on("dp.change", function (e) {
		$('#toSupplierDate').data("DateTimePicker").minDate(e.date);
	});
	$("#toSupplierDate").on("dp.change", function (e) {
		$('#fromSupplierDate').data("DateTimePicker").maxDate(e.date);
	});
	
	$("#fromProductDate").on("dp.change", function (e) {
		$('#toProductDate').data("DateTimePicker").minDate(e.date);
	});
	$("#toProductDate").on("dp.change", function (e) {
		$('#fromProductDate').data("DateTimePicker").maxDate(e.date);
	});
});
  //DTP from: http://eonasdan.github.io/bootstrap-datetimepicker/
</script>