<div class="col-md-11 col-sm-12" ng-controller="StockListController">

<h3 class="text-warning">Stock Details <span style="float:right" class="refreshIcon"><i class="fa fa-refresh text-info" title="Refresh Data" ng-click="reload();"></i></span></h3>

<div class="col-md-10 col-sm-12 col-xs-12">

<br/>
	<div class="input-group date">
		<input type="text" ng-model="searchStock" class="form-control" placeholder="Search Stock by Product Name"/>
		<span class="input-group-addon">
			<span class="fa fa-lg fa-search-plus"></span>
		</span>	
	</div>
<br/>
<table class="table table-bordered">
	<caption><h4>Inward Stocks</h4></caption>
	<thead>
	  <tr>
		<th>Sr. No.</th>
		<th>Product Name</th>
		<!-- <th>Product Type</th> -->
		<th>Stock Available (in M.T / Count)</th>
		<th>Stock Date (Last Updated)</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="data in stockdata | filter:searchStock" class="fullData">
		<td>{{$index+1}}</td>
		<td>{{data.prod_name}}</td>
		<!-- <td>{{data.prod_type}}</td> -->
		<td>{{data.prod_name=='HDPE Bags'? data.stock_avail+' Bags' : (data.stock_avail/1000 | number:3)}}</td>
		<td>{{data.stock_date | date: 'dd-MM-yyyy'}}</td>
	  </tr>
	  <tr class="noData">
		<td colspan="8"> No Data Found </td>
	  </tr>
	  <tr class="loadData">
		<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
	  </tr>
	</tbody>
</table>
<table class="table table-bordered">
	<caption><h4>Outward Stocks</h4></caption>
	<thead>
	  <tr>
		<th>Sr. No.</th>
		<th>Product Name</th>
		<!-- <th>Product Type</th> -->
		<th>Stock Available (in M.T)</th>
		<th>Stock Date (Last Updated)</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="fullData">
		<td>{{$index+1}}</td>
		<td>{{outstockdata.prod_name | uppercase}}</td>
		<!-- <td>{{data.prod_type}}</td> -->
		<td>{{outstockdata.stock_avail/1000 | number:3}}</td>
		<td>{{outstockdata.stock_date | date: 'dd-MM-yyyy'}}</td>
	  </tr>
	  <tr class="noData">
		<td colspan="8"> No Data Found </td>
	  </tr>
	  <tr class="loadData">
		<td colspan="8"> Please Wait... <i class="fa fa-spinner fa-pulse fa-lg text-info"></i></td>
	  </tr>
	</tbody>
</table>
</div>

<!-- Large modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	<form ng-submit="saveEdittedProductDetails();">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Product Details</h4>
      </div>
      <div class="modal-body">
				<input type="hidden" class="form-control" ng-model="prodid" /><br/>
				<input type="text" class="form-control" ng-model="prodname" placeholder="Product Name" autofocus required/><br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
        <button type="submit" class="btn btn-primary saveDetails"><i class="fa fa-floppy-o"></i> Save Details</button>
      </div>
	</div>
	</form>
  </div>
</div>

<!-- Small modal -->
<div class="modal fade" id="NonActiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure to Delete - <span class="text-info">{{prodname}} </span>?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteproduct(prodid);"><i class="fa fa-thumbs-up"></i> Confirm</button>
      </div>
    </div>
	</form>
  </div>
</div>

</div>